.navbar {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  align-items: center;
  text-align: left;
  box-shadow: 1px 5px 5px 1px rgba(124, 121, 121, 0.6);
  margin-right: 0rem;
  margin-top: 4.5rem;
  padding: 1.3rem 1rem;
  height: auto;
  z-index: 98;
  width: fit-content;
}

.pageLink {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 10px 5px 10px 5px;
  margin-bottom: 4rem;
  border-radius: 5px;
}

.isActive {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 10px 5px 10px 5px;
  margin-bottom: 4rem;
  border-radius: 5px;
  background-color: rgb(206, 14, 14, 0.9);
  color: antiquewhite;
}

.pageLink:hover {
  background-color: rgb(206, 14, 14, 0.9);
  color: antiquewhite;
}
