.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* height: 100%;
  width: 100%; */
  background-color: rgba(231, 173, 25, 0.6);
}

.allPages {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  z-index: 10;
  height: 100%;
  padding-bottom: 3rem;
  width: 100%;
}
