.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgba(231, 173, 25, 0.6);
}

.allPages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
  z-index: 10;
  height: 100%;
  padding-bottom: 3rem;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
